<a href="https://colab.research.google.com/github/UnaRam/pythonFundamemtals/blob/main/Una_Lists_and_Dictionaries_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some challenges to help you become more confident with using Lists, Tuples and Dictionaries

---

### Exercise 1 - extending a list

There are three ways to extend a list in Python:  
*  use `list_name.append(item)`, `list_name.insert(item)`
*  concatenate two lists using the + operator (e.g. new_list = list1 + list2)
*  use `list1_name.extend(list2_name)`

The last method allows us to add all the `list2` items onto `list1` and for the new, extended list to now be `list1`.  `list2` will always be added to the end of `list1`.  

If the objective is to add list2 before list1 then use `list2.extend(list1)`

Write a function which will:  
*  create a list of **years** containing the years 1960, 1970, 1980, 1990, 2000  
*  print the list of years  
*  calculate how long ago each year was and print the year and how long ago it was (e.g. 1990 was 30 years ago)  *(Hint:  use the datetime library to get the current year)*   
*  create a second list, **years2** containing the years 2010 and 2020, extend `years` to include these later years
*  create a third list, **years3** containing the years 1930, 1940 and 1950 and extend the list to include all the years between 1930 and 2020
*  print the final list

Expected output:  
[1960, 1970, 1980, 1990]  
1960 was 61 years ago  
1970 was 51 years ago  
1980 was 41 years ago  
1990 was 31 years ago  
2000 was 21 years ago  
[1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [20]:
import datetime

def extending_lists():
  years = [1960,1970,1980,1990,2000]
  print("Years: ",years)
  datenow = datetime.date.today()
  print(datenow)
  current_year = int(datenow.strftime("%Y"))
  print(current_year)
  for x in years:
    print(x," was ",current_year-x," years ago")

  years2 = [2010,2020]
  years.extend(years2)
  print(years)

  years3=[1930,1940,1950]
#  years3.extend(years)
  final_list = years3 + years
  print(years)
  print(years3)
  print(final_list)



extending_lists()

Years:  [1960, 1970, 1980, 1990, 2000]
2022-01-23
2022
1960  was  62  years ago
1970  was  52  years ago
1980  was  42  years ago
1990  was  32  years ago
2000  was  22  years ago
[1960, 1970, 1980, 1990, 2000, 2010, 2020]
[1960, 1970, 1980, 1990, 2000, 2010, 2020]
[1930, 1940, 1950]
[1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

---
### Exercise 2 - creating a dictionary from a tuple and three lists

Write a function which will create a list of dictionary items using the values in a tuple as the dictionary keys and the values in three corresponding lists as the dictionary values.

*  loop through the status items in the tuple called task_status
*  for each status, loop through the list with the same name (*Hint:  you can use eval(status) to access the list with the matching name  e.g. for task in eval(status)* )
*  each time round this second loop, create a dictionary object with the  key:value pair {status : task}
*  add each new dictionary to a list called **project_board** that was created as an empty list before the loops  
*  print the project_board list

Expected output:  

[{'assigned': 'task1'}, {'assigned': 'task2'}, {'assigned': 'task3'}, {'inprogress': 'task4'}, {'inprogress': 'task5'}, {'inprogress': 'task6'}, {'completed': 'task7'}, {'completed': 'task8'}, {'completed': 'task9'}]

In [28]:
def create_project_board():
  task_status = ("assigned", "inprogress", "completed")
  assigned = ['task1','task2','task3']
  inprogress = ['task4','task5','task6']
  completed = ['task7','task8','task9']
  project_board = [] #empty list
  #  add your code below here
  for status in task_status:
#    print(status,":   \t")
    for x in eval(status):
#      print("\t",x)
      wee_dict = {status:x}
#      print("\t\t",wee_dict)
      project_board.append(wee_dict)

  print(project_board)


create_project_board()

[{'assigned': 'task1'}, {'assigned': 'task2'}, {'assigned': 'task3'}, {'inprogress': 'task4'}, {'inprogress': 'task5'}, {'inprogress': 'task6'}, {'completed': 'task7'}, {'completed': 'task8'}, {'completed': 'task9'}]

---
### Exercise 3 - names and heights

Write a function which will allow a user to enter the names and heights of a set of people and add each set of information as a record (dictionary) to a list. The function will stop collecting names and heights when the user enters "STOP" as the name.

Then, the function will:  

*   produce a list of names in order of the shortest person to the tallest
*   calculate the name of the tallest person
*   calculate the name of the shortest person
*   calculate the average height
*   calculate the name of the person who is closest to the average height

In [35]:
def names_and_heights():
  stop_now = False
  record = {} #create empty dictionary
  names_height_list = [] # empty dict
  while stop_now == False:
    name = input("please enter name: ")
    if name == "STOP":
      stop_now = True
      print("cheerio")
    else:
      height = float(input("please enter height in m: "))
      record = (name,height)
      print(record)
      names_height_list.append(record)

    

  print(names_height_list)

# produce a list of names in order of the shortest person to the tallest
  # sort the list by height which is the second item in each record
  names_height_list.sort()

#calculate the name of the tallest person
#calculate the name of the shortest person
#calculate the average height
#calculate the name of the person who is closest to the average heightin

# to be 

names_and_heights()

please enter name: fgdf
please enter height in m: 43
('fgdf', 43.0)
please enter name: 34534
please enter height in m: 34534
('34534', 34534.0)
please enter name: erter
please enter height in m: 67
('erter', 67.0)
please enter name: STOP
cheerio
[('fgdf', 43.0), ('34534', 34534.0), ('erter', 67.0)]